[Unit]
Description=Loop PCM audio file on boot
After=network.target

[Service]
User=pi	
WorkingDirectory=/home/pi/
ExecStart=/bin/bash /home/pi/looper.sh

Type=notify
WatchdogSec=70s
Restart=on-failure

[Install]
WantedBy=multi-user.target
