[Unit]
Description=Netsender Client for Playing Sound

[Service]
Type=simple
ExecStart=/home/pi/go/src/github.com/ausocean/av/cmd/speaker/speaker_run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target