[Unit]
Description=Netsender Client for Playing Sound

[Service]
Type=simple
ExecStart=/opt/ausocean/bin/run_pi_client.sh pi speaker
Restart=on-failure

[Install]
WantedBy=multi-user.target