[Unit]
Description=looper is a utility to robustly loop a sound file from a raspberry pi.

[Service]
Type=simple
ExecStart=/home/pi/go/src/github.com/ausocean/av/cmd/looper/pi_run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
